<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <DAL.My.MySettings>
            <setting name="Curing_A" serializeAs="String">
                <value>packet size=4096;user id=sa;data source=10.40.1.10; persist security info=True;initial catalog=Curing;password=sa</value>
            </setting>
            <setting name="Curing_B" serializeAs="String">
                <value>packet size=4096;user id=sa;data source=10.40.1.28; persist security info=True;initial catalog=Curing;password=sa</value>
            </setting>
            <setting name="DataCuring" serializeAs="String">
                <value>packet size=4096;user id=sa;data source=10.40.1.41; persist security info=True;initial catalog=DataCuring;password=sa</value>
            </setting>
            <setting name="Tracking" serializeAs="String">
                <value>packet size=4096;user id=sa;data source=10.40.1.27; persist security info=True;initial catalog=Tracking;password=P@ssw0rd</value>
            </setting>
        </DAL.My.MySettings>
    </userSettings>
</configuration>
